h1
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    background-color: rgb(44, 44, 44);
}
table{
    padding: 20px;
    border-collapse: collapse;
    font-size: 1.2em;
    min-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px black;
}
th{
    padding: 10px;
    color: rgb(202, 202, 202);
    font-weight: lighter;
}
td{
    padding: 10px;
    text-align: center;
    
}
.a{
   background-color: rgb(151, 151, 151);
   font-family: Arial, Helvetica, sans-serif;
}
.b{
    background-color: rgb(126, 126, 126);
    font-family: Arial, Helvetica, sans-serif;

}
.c{
    background-color: rgb(68, 68, 68);
    font-family: Arial, Helvetica, sans-serif;

}
tr{
    border-bottom: 1px solid rgb(0, 0, 0);
    
}
button{
    color: grey;
    background-color: transparent;
    color: black;
    border: none;
}
button:hover{
    background-color: rgb(117, 117, 117);
}
button:active{
    background-color: rgb(112, 112, 112);
}
